
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 10px;
    height: 96%;
    display: flex;
    align-items: center;
    align-content: center;
    width: 99%;
}

.video {
    color: #416277;
    font-size: 14px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.player {
    height: 90%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cs {
    height: auto;
}

.video_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto
}

.video_play {
    display: flex;
    height: auto
}

.bf {
    border-radius: 4px;
    background-color: #5BC0DE;
    color: #ffffff;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
