.body div.video div.hint p {
    color: #416277;
    font-size: 12px;
    left: 40px;
    line-height: 24px;
    margin: 0;
    position: relative;
    width: auto;
}

.body div.video iframe {
    height: 600px;
    position: relative;
    margin: 10px 10px 10px 42px;
    width: 91%;
}

.body div.video div.video_info {
    position: relative;
    padding-top: 10px;
    left: 40px;
    width: 100%;
}

.body div.video div.video_info input.video_url {
    position: relative;
    left: 10px;
    width: 69.5%;
}

.body div.video div.video_play button.bf {
    border-radius: 4px 4px 3px 3px;
    background-color: #F00;
    color: #ffffff;
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 40px;
    width: 91%;
}