/*公共样式*/
html,body,div,p,span,b,a,ul,ol,li,h1,h2,h3,h4,h5,h6,button,input,table,thead,tbody,tr,td{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%; 
	height: 100%;
	overflow: hidden;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #555;
}
#app{
	overflow: hidden;
	/*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	width: 100%;
  	height: 100%;
  	overflow: hidden;
  	background: #fff;
}
.mint-navbar{
	background: #f1f1f1 !important;
}
.mint-navbar .mint-tab-item.is-selected{
	margin-bottom: 0 !important;
	border-width: 0 0 2px 0 !important;
}
.mint-tab-item-label{
	font-size: 15px !important;
	white-space: nowrap;
	padding: 0 10px;
}
.mint-navbar{
	overflow-x: auto;
}
